<ul id="nav">
  <li>
    <a href="#section-1" class="js-anchor-link">Section 1</a>
  </li>
  <li>
    <a href="#section-2" class="js-anchor-link">Section 2</a>
  </li>
  <li>
    <a href="#section-3" class="js-anchor-link">Section 3</a>
  </li>
</ul>

<div id="section-1" class="section">
  <h1>Section 1</h1>
  <a href="#section-2" class="js-anchor-link">Go to section 2</a>
</div>

<div id="section-2" class="section">
  <h1>Section 2</h1>
  <a href="#section-3" class="js-anchor-link">Go to section 3</a>
</div>

<div id="section-3" class="section">
  <h1>Section 3</h1>
  <a href="#section-1" class="js-anchor-link">Back to section 1</a>
</div>




<button onclick="myFunction()">Try it</button>


<p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p>