@media screen and (min-width: 0px) and (max-width: 1205px) {
    #aboutdesktop {display:none!important; background-color: #15151e;}
    #aboutfooter {padding-top: 0px!important;}
    .left h2, #aboutmobile h2{
        color: #1ba8d3;
        text-align:center;
        
    }
    .tg{width:40%}

    
}

@media screen and (min-width: 1206px) and (max-width: 3335px) {
    #aboutmobile {display:none!important; }
}
  
#aboutmobile 
{ color: white;
    width:100%;
    margin:0px;
    padding: 15px;
 padding-top: 65px;


}
.abt{
    width:100vw;
    height:100vh;
    margin:0px;
    padding:0px;
  
}

.left
{   position:absolute;
    width: 60vw;
    height: 63.5vh;
    top: 26vh;
    left:5vw;
    overflow: auto;
    color: white;
    padding: 10px;
    z-index: 10;
    

}

.left p, #aboutmobile p{
    font-size:1.1em;
    font-family:'roboto';
    font-weight: normal;
    text-align:justify;
    padding-left:10px;

}

.left h2, #aboutmobile h2{
    color: #1ba8d3;

}

.left i{
    font-size:1em;
    color: #dbdbdb;

}

.glyphicon-ok{
    color:rgb(116, 243, 116);
}
.glyphicon-remove{
    color:rgb(247, 82, 82);
}


.right
{   position:absolute;

    width: 30vw;
    height: 70vh;
    top: 20vh;
    left:65vw;
    z-index:1;

    background-repeat: no-repeat;
    background-position-x: -20px;
}

#aboutmobile h1{
    color: white;
    border-left: #1ba8d3 solid 5px;
    padding-left: 10px;
    
}
.lefthead
{   
    position: absolute;
    top: 18vh;
    left: 5vw;
    color: white;
    border-left: #1ba8d3 solid 5px;
    padding-left: 10px;
    margin:5px;
}

::-webkit-scrollbar-thumb {
    background: #1ba8d3; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color:none;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-size:14px;padding:10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:rgb(95, 95, 95);}
.tg th{font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:rgb(133, 133, 133);}
.tg .tg-yw4l{vertical-align:top}

.lsts li{
    font-size:1.1em;
    padding:5px;
}

