#verticalnav
{   position: absolute;
    height: 70vh;
    width: 300px;
    top: 20vh;
    right: 0px;
    padding-left:5vw; 
    font-size: 20px;
    clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 0% 100%);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1ba8d3+0,00a0d1+100 */
background: #1ba8d3; /* Old browsers */

    z-index: 10;
    transition: .2s ease-out .2s;
}



#verticallinks li{
    padding-top: 15px;
    font-weight: bold;
}

#verticallinks li :active{
    color:#000!important;
    text-decoration: none;
    border-left: 10px solid #000;
    padding-left: -20px!important;
}



#a1,#a2,#a3,#a4,#a5{
    color:white;
    transition: all .1s ease;
    padding-left: 10px;

}

#a1:hover,#a2:hover,#a3:hover,#a4:hover,#a5:hover{

    text-decoration: none;
    border-left: 10px solid #000;
    padding-left: -20px!important;
}

.hoverclass
{
    color:#000!important;
    text-decoration: none;

    border-left: 10px solid #000;
}


#verticallinks
{
    margin-top:180px;
    margin-left: -5px;
}

#a1
{
    margin-left: 0px;

}


#a2
{
    margin-left: -10px;
}


#a3
{
    margin-left: -20px;
}


#a4
{
    margin-left: -30px;
}


#a5
{
    margin-left: -40px;
}


@media screen and (min-width: 0px) and (max-width: 1205px) {
    #verticalnav { display: none;  }
  }


