#verticalnav
{   position: fixed;
    background-color: white;
    height: 70vh;
    width: 300px;
    top: 20vh;
    left: 80vw;
    padding-left:5vw; 
    font-size: 20px;
    clip-path: polygon(45% 0%, 100% 0%, 100% 100%, 0% 100%);
    background: #1ba8d3;
    z-index: 100;
}



#verticallinks li{
    padding-top: 15px;
    font-weight: bold;
}

#a1,#a2,#a3,#a4,#a5{
    color:white!important;
    transition: all .1s ease;

}

#a1:hover,#a2:hover,#a3:hover,#a4:hover,#a5:hover{
    color:#000!important;
    text-decoration: none;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
}


#verticallinks
{
    margin-top:180px;
    margin-left: 5px;
}

#a1
{
    margin-left: 0px;

}


#a2
{
    margin-left: -10px;
}


#a3
{
    margin-left: -20px;
}


#a4
{
    margin-left: -30px;
}


#a5
{
    margin-left: -40px;
}


@media screen and (min-width: 0px) and (max-width: 1205px) {
    #verticalnav { display: none;  }
  }


