@media screen and (min-width: 0px) and (max-width: 1205px) {
    #aboutdesktop {display:none!important; }
    #aboutfooter {padding-top: 0px!important;}
    #aboutfooter {padding-top: 0px!important;}
}

@media screen and (min-width: 1206px) and (max-width: 3335px) {
    #aboutmobile {display:none!important; }
}
  



#aboutfooter
{padding-top: 60%;
}
#aboutdesktop{
    background-color:#15151e;
}
#aboutmobile 
{ color: white;
  padding: 15px;
  padding-top: 65px;
  background-image: url("../../../assets/backgroundBKP.jpg")

}

.left
{   position:absolute;
    width: 60vw;
    height: 63.5vh;
    top: 26vh;
    left:5vw;
    overflow: auto;
    color: white;
    padding: 10px;
    z-index: 10;
    

}

.left p, #aboutmobile p{
    font-family:'Roboto';
    font-weight: normal;

}

.left ul li, #aboutmobile ul li{
    font-family:'Roboto';
    font-weight: normal;
}

.left h2, #aboutmobile h2{
    color: #1ba8d3;

}

.left i{
    color: #1ba8d3;

}



.right
{   position:absolute;

    width: 40vw;
    height: 70vh;
    top: 20vh;
    left:65vw;
    z-index:1;

    background-repeat: no-repeat;
    background-position-x: -20px;
}

#aboutmobile h1{
    color: white;
    border-left: #1ba8d3 solid 5px;
    padding-left: 10px;
}
.lefthead
{
    position: absolute;
    top: 18vh;
    left: 5vw;
    color: white;
    border-left: #1ba8d3 solid 5px;
    padding-left: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1ba8d3; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color:none;
}