<div class="row">
    <h1 id="lefthead">VENICE OF THE EAST</h1>
  <div id="left">
 


    <P>
        History of Alappuzha
 
        Alappuzha district forms part of the history of erstwhile state of Travancore. Considering the geographical position and physical features of the district, it may be assumed that the word 'Alappuzha' means the land between the sea and a network of rivers flowing into it. The master mind that worked in turning Alappuzha to a commercial centre was Raja Kesava Das, the illustrious Divan of Travancore. For the progress of Alappuzha, the Divan brought businessmen from all parts of the country. Canals were opened for the transportation of spices and forest goods. The 'Vadaicanal' and ' Commercial Canal ' are his Contributions. Roads were also constructed. Veluthambi Dalva also had done much for the development of Alappuzha. The light house at Alappuzha spreads light to a distance of about twenty kilometres. Alappuzha became the centre of trade for coir, copra, pepper, ginger, cardamom, rubber and tea.
         
        The port town of Alappuzha was the commercial metropolis of the erstwhile Travancore. The establishment of a modern port at Kochi was the beginning of Alappuzha's decline. However, the emerging trends in tourism lit a green light for resurgence. 
         
         
        Visit the official site of Alappuzha at www.alappuzha.gov.in
         
         
        Raja Kesava Das
         
        Raja Kesavadas – born at Kunnathur (on 1745 March 17th) an unknown village in the erstwhile Travancore State as the son of a peasant woman and a police constable. The boy was named Kesavan. Very little is known about his childhood days. He did not get enough formal education. Since he was very shrewd, intelligent, honest and hardworking, he got into the services of a local merchant Poku Moosa Marackar as a tally clerk for a very meagre salary.
        Once, this boy happened to accompany Poku Moosa to the Royal Palace. Poku Moosa was very faithful to the Maharaja of Travancore, Karthika Thirunal Rama Varma who was deservingly called by his subjects as Dharmaraja. The very behaviour of Kesava Pillay much impressed the Maharaja. This personal appreciation of the Maharaja was proved true in the coming years by the actual life of the man. Dharma Raja found in him a God send emancipator for saving the country from the prevailing troubles and turmoils. The joining together of Dharmaraja and Raja Kesavadas was an epoch making event in the history of Venad.
        Kesava Pillay's fast but will targeted life shot up into prominence step by step from the lower rungs of the official ladder and reached its pinnacle in 1789 as Valiya Diwanji, He was glorified by the British Governor Mornington, by the title Raja in appreciation of his administrative talents. But hesitating to accept this honour, out of humility he linked his name with the word Dasan and liked to be called Raja Kesava Dasan with his own name at the centre. He was a well-trained solider under Captain Dillanoi. After the death of Dillanoi, Raja Kesava Das became Army Chief of Travancore who won the battle of Kaladi defeating Tipu Sultan.
        His all-time contribution is finding an ideal location and constructing a well-planned port city at Alappuzha. He found Alappuzha as the most suitable, because of the geographical and oceanic reasons. As a far sighted statesman he knew the importance of having a port town to trade with the western countries. Raja Kesavadas was unique in having such a splendid vision, much far ahead of his time. He became very successful in materialising his dream and a ship embarked for the first time in 1786 at Alappuzha.
        Raja Kesavadas invited business magnets from Bombay, Gujarat, and Kutch etc. and encouraged them to settle here and start industrial enterprises. The infrastructural facilities were generously offered.
        Two parallel canals, commercial canal and Vadaicanal with the ramifying system of waterways were built for the easy transportation of goods to the port and from there to the western countries.
        Leading industrialists like Navaroji Khawaziji, Vallabha Das Kanchi and others found Alappuzha as their second native place.
        For improving foreign trade, Raja Kesavadas invited shipping companies like Syndhya Steam ship Navigation to start cargo centres here.
        Alappuzha attained legendary progress and became the financial capital of Travancore at the time of Raja Kesava Das, the Valiya Diwanji, Alappuzha was known throughout the West as the Venice of the East, Alappuzha was in those days a maritime centre and tourists paradise. The reign of Raja Kesavadas spread only for a very short span of ten years.
        In the year 1798 Karthika Thirunal Dharmaraja demised and Balarama Varma, his successor aged fourteen became the crown prince. Bala Rama Varma was only a puppet in the hands of sycophants, misguided by Jayanthan Sankaran Nampoothiri. Raja Kesavadas was proclaimed as a traitor and kept under house arrest allowing Jayanthan Sankaran Nampoothiri to usurp the post of Dewan. Finally Raja Kesavadas was poisoned to death (on 21st April 1799).
        The death of Valiya Diwanji spread like wild fire in the capital and a riot followed in which Jayanthan Sankaran Nampoothiri was murdered and the crown prince was compelled to invite Velu Thampi and appoint him as Dalava who restored peace in the country.
        But even now Raja Kesavadas lives as a martyr in the minds of the people in and around Alappuzha.
        
    </P>


  </div>
  <div id="right">

  </div>
</div>