<div style="display:none;" id="video1">
    <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
        <source src="assets/lfw.mp4" type="video/mp4"> Your browser does not support HTML5 video.
    </video>
</div>
<div style="display:none;" id="video2">
    <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
        <source src="assets/lfw.mp4" type="video/mp4"> Your browser does not support HTML5 video.
    </video>
</div>


<div class="galo">

    <div class="timeline1">
        <h1 class="ntbrname">NTBR</h1>
        <h1 class="galname">Gallery</h1>

        <span class="year">
            <li class="dropdown">

                <ul class="dm">
                    <li>
                        <a id="17" tabindex="-1"  class="ditems active">2017</a>
                    </li>

                    <li>
                        <a id="16" tabindex="-1"  class="ditems">2016</a>
                    </li>
                    <li>
                        <a id="15" tabindex="-1"  class="ditems">2015</a>
                    </li>
                    <li>
                        <a id="14" tabindex="-1"  class="ditems">2014</a>
                    </li>

                    <li>
                        <a id="13" tabindex="-1"  class="ditems">2013</a>
                    </li>
                    <li>
                        <a id="12" tabindex="-1"  class="ditems">2012</a>
                    </li>
                    <li>
                        <a id="11" tabindex="-1"  class="ditems">2011</a>
                    </li>

                    <li>
                        <a id="10" tabindex="-1"  class="ditems">2010</a>
                    </li>
                    <li>
                        <a id="9" tabindex="-1"  class="ditems">2009</a>
                    </li>
                    <li>
                        <a id="8" tabindex="-1"  class="ditems">2008</a>
                    </li>
                    <li>
                        <a id="7" tabindex="-1"  class="ditems">2007</a>
                    </li>

                    <li>
                        <a id="6" tabindex="-1"  class="ditems">2006-1996</a>
                    </li>
                    
                </ul>
            </li>

        </span>
    </div>
    <div class="demo-gallery col-lg-12">
        <ul id="gallery17" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-2.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery16" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery15" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery14" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery13" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery12" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery11" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery10" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery9" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery8" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery7" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        <ul style="display: none"  id="gallery6" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
    </div>
</div>
