<!-- <div style="display:none;" id="video1">
    <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
        <source src="assets/lfw.mp4" type="video/mp4"> Your browser does not support HTML5 video.
    </video>
</div>
<div style="display:none;" id="video2">
    <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
        <source src="assets/lfw.mp4" type="video/mp4"> Your browser does not support HTML5 video.
    </video>
</div> -->


<div class="galo">

    <div class="timeline1">
       
        <h1 class="galname">Gallery</h1>

        <span class="year">
            <li class="dropdown">

                <ul class="dm">
                    <li>
                        <a id="17" tabindex="-1"  class="ditems active">2017</a>
                    </li>

                    <li>
                        <a id="16" tabindex="-1"  class="ditems">2016</a>
                    </li>
                    <li>
                        <a id="15" tabindex="-1"  class="ditems">2015</a>
                    </li>
                    <li>
                        <a id="14" tabindex="-1"  class="ditems">2014</a>
                    </li>

                    <li>
                        <a id="13" tabindex="-1"  class="ditems">2013</a>
                    </li>
                    <li>
                        <a id="12" tabindex="-1"  class="ditems">2012</a>
                    </li>
                    <li>
                        <a id="11" tabindex="-1"  class="ditems">2011</a>
                    </li>

                    <li>
                        <a id="10" tabindex="-1"  class="ditems">2010</a>
                    </li>
                    <li>
                        <a id="9" tabindex="-1"  class="ditems">2009</a>
                    </li>
                    <li>
                        <a id="8" tabindex="-1"  class="ditems">2008</a>
                    </li>
                    <li>
                        <a id="7" tabindex="-1"  class="ditems">2007</a>
                    </li>

                    <li>
                        <a id="6" tabindex="-1"  class="ditems">2006-1996</a>
                    </li>
                    
                </ul>
            </li>

        </span>
    </div>
    
    
    <div class="demo-gallery col-lg-12">
        <ul id="gallery17" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-06-30-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-06-30-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-06-30-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-06-30-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-15-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-15-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-15-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-15-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-21-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-21-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-21-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-21-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-21-03.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-21-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-21-04.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-21-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-21-05.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-21-05.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-27-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-27-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-28-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-28-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-07-28-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-07-28-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-01-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-01-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-04-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-04-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-02-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-02-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-03-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-03-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-03-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-03-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-03-03.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-03-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-03-04.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-03-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-04-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-04-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-04-03.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-04-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-04-04.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-04-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-04-05.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-04-05.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-04-06.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-04-06.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-04-07.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-04-07.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-05-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-05-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-09-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-09-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-09-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-09-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-09-03.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-09-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-09-04.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-09-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-10-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-10-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-10-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-10-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-10-03.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-10-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-11-01.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-11-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-02.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-03.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-04.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-05.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-05.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-06.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-06.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-07.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-07.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-08.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-08.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-09.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-09.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-10.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-10.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-11.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-11.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-12.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-12.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-13.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-14.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-14.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-15.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-15.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-16.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-16.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-17.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-17.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-18.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-18.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-19.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-19.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-20.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-20.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-21.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-21.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2017/2017-08-12-22.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/2017/thumb/2017-08-12-22.jpg">
                </a>
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery16" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-22-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-22-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-22-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-22-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-22-03.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-22-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-23-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-23-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-26-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-26-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-27-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-27-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-27-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-27-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-27-03.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-27-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-27-04.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-27-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-27-05.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-27-05.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-27-06.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-27-06.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-29-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-29-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-29-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-29-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-31-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-31-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-07-31-03.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-07-31-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-03.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-04.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-05.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-05.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-06.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-06.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-07.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-07.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-08.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-08.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-09.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-09.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-04-10.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-04-10.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-08-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-08-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-08-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-08-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-08-03.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-08-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-09-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-09-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-09-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-09-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-09-03.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-09-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-09-04.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-09-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-09-05.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-09-05.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-01.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-01.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-02.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-02.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-03.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-03.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-04.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-04.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-05.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-05.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-06.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-06.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-07.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-07.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-08.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-08.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-09.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-09.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-10.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-10.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-11.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-11.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-12.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-12.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-13.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-14.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-14.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-15.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-15.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-16.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-16.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-17.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-17.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-18.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-18.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-19.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-19.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-20.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-20.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-21.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-21.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-22.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-22.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2016/2016-08-13-23.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/2016/thumb/2016-08-13-23.jpg">
                </a>
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery15" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery14" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery13" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery12" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery11" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery10" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery9" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery8" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery7" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
        
        <ul style="display: none"  id="gallery6" class="list-unstyled row">
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/2.jpg" >
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-src="assets/img/3.jpg">
                <a href="">
                    <img class="img-responsive" src="assets/img/thumb-13.jpg">
                </a>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/1.jpg" data-sub-html="video caption1" data-html="#video1">
                <img class="img-responsive" src="assets/img/thumb-13.jpg">
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3" data-poster="assets/img/2.jpg" data-sub-html="video caption2" data-html="#video2">
                <img class="img-responsive" src="assets/img/thumb-2.jpg">
            </li>
        </ul>
    </div>
</div>
