.landingpagecontainer{
	height: 100vh;
	width: 100vw;
}
.vidbg{
  width:100vw;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height:100vh;
  overflow:hidden;
}

#video-background {
  margin: 0;
  width:100%;
  z-index:-1000;
  position:absolute;
  filter: brightness(.5);
  height:auto;

}

 .contnt{
    position:absolute;
    bottom:10%;
    width:45%;
    right:5%;
    color:white;
    margin:0px;
    padding:0;
    text-align:center;
    opacity:1;

  }





  .sx{
    width:100%;
    font-size:9em;
    margin-bottom: -1%;
    text-align:right;
    opacity:.3;
    
  }
  .ntbr{
    margin:0;
    padding:20px 0px;
    font-family: Raleway;
    font-size: 4em;
    font-weight:700;
   
  }
  .cnt{
     margin:0;
     padding:0px 4%;
     background: rgba(255,255,255,0);
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,.4) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(28%, rgba(0,0,0,0.28)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,.4) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,.4) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,.4) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 28%, rgba(0,0,0,.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
     border-right:3px solid rgba(222,222,55,.4);
     width:60%;
     text-align: right;

  }

.dte{
  height:100%;
  width:40%;
  margin:2% 5%;
  
}

.dtebox{
  margin:0px auto;
  background: rgba(54,252,255,1);
background: -moz-linear-gradient(-45deg, rgba(54,252,255,.4) 0%, rgba(0,123,224,.4) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(54,252,255,.4)), color-stop(100%, rgba(0,123,224,1)));
background: -webkit-linear-gradient(-45deg, rgba(54,252,255,.4) 0%, rgba(0,123,224,.4) 100%);
background: -o-linear-gradient(-45deg, rgba(54,252,255,.4) 0%, rgba(0,123,224,.4) 100%);
background: -ms-linear-gradient(-45deg, rgba(54,252,255,.4) 0%, rgba(0,123,224,.4) 100%);
background: linear-gradient(135deg, rgba(54,252,255,.4) 0%, rgba(0,123,224,.4) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36fcff', endColorstr='#007be0', GradientType=1 );
  max-width:125px;
  max-height:125px;
  text-align: center;
  padding-top: 10px;
  border:2px solid white;
  border-radius: 25px;
 
}

.lake{
  font-size:2.5em;
  font-family: Raleway;
}

.eventinfo{
  
  display: inline-flex;
}
.sups{
  font-size:.5em;
}
.num{
  font-size:60px;
}

.boatrace{
  font-family:Roboto;
  font-size: .75em;
  color:#ececec;
  font-style: normal;
  margin-top:0;
}

#Nehru{
  font-size:1.18em;
}
.rm{
  background-color: rgba(0,0,0,.2);
  border:2px solid #1dd9fb;
  border-radius:30px;
  width:100px;
  height: 33px;
  font-size: 1em;
  font-weight: bold;
  float:right;
  transition: .5s linear 0s;
}

.rm:hover{
  

  background-color: #1dd9fb;

}

.rm:focus{
 
  background-color: #1dd9fb;
  outline:none;

}

.pagecnt{
  text-align:left;
  font-family:raleway;
  font-weight: 100;
  font-size:1.2em;
}


@media screen and (min-width: 0px) and (max-width: 421px) {
  .contnt{
    width:100%;
    color:white;
    padding-left:4em;
    text-align:center;
    opacity:1;
    font-size:.7em;

  }



  #video-background {
  display:none;


}

.vidbg{
  margin: 0;
  padding: 0;
  background-image:url("assets/liveimgs/mainback.jpg");
  height:100%;
  background-position: center;
  background-size: cover;

}

.lake{
  font-size:1.5em;
}
.sx{
    width:100%;
    font-size:9em;
    margin-bottom: -1%;
    text-align:center;
  
    
  }
.sups{
  font-size:.6em;
}
.num{
  font-size:1.75em;
}

.boatrace{
  
  font-size: .4em;

}

#Nehru{
  font-size:.9em;
}
.rm{
 

  height: 33px;
  font-size: 1em;

}
}
  @media screen and (min-width: 421px) and (max-width:1024px) {
   
       .contnt{
    width:100%;
    color:white;
    padding-left:4em;
    text-align:center;
    opacity:1;
    font-size:1em;

  }

  .pagecnt{
    padding:1%;

    
  }

  .vidbg{
    margin: 0;
    padding: 0;
    height:100%;
    
  
  }

  #video-background {
    margin: 0;
    height:100%; 
    z-index:-2000;
    position:absolute;
  filter: brightness(.5);  
  
  }


}
    
  


.scrollicon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom:7%;
}
.container1{
  position: relative;
  width: 20px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(230, 230, 230, 0.5), rgba(0, 0, 0, 0));
}