<app-video-background></app-video-background>
<div id="site-content">
	<div id="1" class="vidbg mydiv" >
				<span class="sx"><b>66<sup class="sups">th</sup>edition</b></span>
				<!-- <video  autoplay  preload="metadata" loop id="video-background"   >
					  <source src="./assets/backgroundvideo.mp4" type="video/mp4">
				</video> -->
				
				<div class="contnt">
						
					 <div class="eventinfo">
					   
					 <div class="cnt">
						 
						 <h2 class="ntbr"><span id="Nehru">NEHRU TROPHY</span><br>BOAT RACE</h2>
					 </div>
					 
					 <div class="dte">
						 <h1 class="dtebox">AUG<br><span class="num">11</span></h1>
						 <h1 class="lake">PUNNAMADA LAKE</h1>
	
					 </div>
	
					 </div>
	
					 <hr>
	
					 <p class="pagecnt">Official website of <b>The Nehru Trophy Boat Race 2018</b></p>
				</div> 
	
			<div class="scrollicon">
				<div class="container1">
					  <div class="chevron"></div>
					  <div class="chevron"></div>
					 <div class="chevron"></div>
				</div>
			</div>
	
	</div>	
	<div id="3" class="mydiv"><app-page1-sec2></app-page1-sec2></div>
	<div id="4" class="mydiv"><app-page1-sec3></app-page1-sec3></div> 
	
</div>	
<div ><app-footer class="mydiv" id="#site-footer"></app-footer></div>

