

<!-- landingpage -->

<div id="1"><app-nav-horizontal></app-nav-horizontal></div>

<div id="site-content">   
<div id="2" class="mydiv"><app-landingpage></app-landingpage></div>
<div id="3" class="mydiv"><app-live></app-live></div>
<div id="4" class="mydiv"><app-accordion></app-accordion></div> 
</div> 
<div id="site-footer"   class="mydiv"><app-footer></app-footer></div>


<!-- Contact -->


<!-- <app-nav-horizontal></app-nav-horizontal>
<app-video-background></app-video-background>
<app-contact></app-contact>
<app-nav-vert-contact></app-nav-vert-contact>
<app-footer></app-footer> -->


<!-- about -->

<!-- <app-nav-horizontal></app-nav-horizontal>
<app-video-background></app-video-background>
<app-about></app-about>
<app-nav-vertical></app-nav-vertical>
<app-footer></app-footer> -->

<!-- gallery -->
<!-- <app-nav-horizontal></app-nav-horizontal>
<app-gallery></app-gallery>
<app-footer></app-footer> -->


<!-- loadeingpage -->

<!-- <app-loading></app-loading> -->
