<div class="nv">
  <nav class="navbar navbar-expand-lg fixed-top">


    <ul id="links" class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/" class="active">Home</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink='/About'>About</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink='/Gallery'>Gallery</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink='/Contact'>Contact</a>
      </li>
      <li class="booking">
        <a routerLinkActive="active" routerLink='/About' id="but">Buy Tickets</a>
      </li>
    </ul>

  </nav>

  <!-- <div class="shape"><h3 id="blueheading">Nehru Trophy Boat Race</h3></div> -->



  <div id="nav-icon1">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="toggle">
    <ul id="linksmobile">
      <li>
        <a routerLinkActive="active" routerLink='/'>Home</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink='/About'>About</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink='/Gallery'>Gallery</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink='/Contact'>Contact</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink='/About' class="bt">Buy Tickets</a>
      </li>
    </ul>
  </div>

  `


</div>