
<div class="nv">
  <nav class="navbar navbar-expand-lg fixed-top">

   
    <ul id="links" class="nav navbar-nav navbar-right">
      <li><a pageScroll href="#loadingpage" class="active">Home</a></li>
      <li><a pageScroll href="#livepage">live</a></li>
      <li><a pageScroll [routerLink]="['live']" href="#accordionpage">accordion</a></li>
      <li><a pageScroll href="#footer">footer</a></li>
      <li class="booking"><a id="but">Buy Tickets</a></li>
    </ul>

</nav>
  
<!-- <div class="shape"><h3 id="blueheading">Nehru Trophy Boat Race</h3></div> -->



<div id="nav-icon1">
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="toggle">
  <ul id="linksmobile">
    <li><a href="#">Home</a></li>
    <li><a href="https://www.facebook.com/">About</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#" class="bt">Buy Tickets</a></li>
  </ul>
</div>

`


</div>