<div class="container" style="background-color:red;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 leftcontainer">
      <div class="livecontainer">
        <app-counter></app-counter>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 rightcontainer">
      <div class="rightincontainer">
        <div class="newsfeedscontainer">
          <div class=newsfeeds>
            <h3>LATEST NEWS</h3>
            <br>
            <div class="feeds">
              <h4>Proposal Invited</h4>
              <p>Last Date : 30<sup>th</sup> march 2018</p>
            </div>
            <hr>
            <div class="feeds">
              <h4>Proposal Invited</h4>
              <p>Last Date : 30<sup>th</sup> march 2018</p>
            </div>
            <hr>
          </div>
        </div>
        <div class="gallerycontainer">
          <div class="gallerybutton">
            <span>GALLERY</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
