<div class="container" > 

  <div class="countdown col-lg-12">
    
  </div>





<!-- <div class="container1 col-lg-12">


    

       <div class="col-lg-3 ln">

          <h4 class="nf">News Feeds</h4>

            <div class="newsfeeds">
              
                <div class="feeds">

                  <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>
                <div class="feeds">
                 <h5>Proposal Invited</h5>
                  <p>Last Date : 30<sup>th</sup> march 2018</p>
                </div>

              </div>
              <h4 class="rmln">More News</h4>
         </div>


    <div class="col-lg-6">
      <p>The Nehru Trophy Boat Race named after Pandit Jawaharlal Nehru is conducted on the Punnamda Lake, near Alappuzha, on the second Saturday of August every year. On the day of this fiercely fought boat race, the tranquil lake front is transformed into a sea of humanity with an estimated two lakh people, including tourists from abroad for watching it. For the people of each village in Kuttanad, a victory at this race for their village boat is something to be celebrated for months to come.
      </p>
    </div>

    <div class="rightcons col-lg-3">
      
      <div class="gallery">
        <h1>Gallery</h1>
        <button class="galbutt">Explore</button>
      </div>
     
       <div class="bknw">
       <div class="boardingPass">
        <header class="boardingPass-header">
        </header>
  
        <main class="boardingPass-main">
          <div class="row">
            <section class="boardingPass-departur col-xs">
             <span class="section-label">NTBR 2018</span>
             <span class="boardingPass-departur-IATA">Book your tickets now</span> 
            </section>  
          </div>
    
        <hr/>
  
    <div class="row"> 
      <div class="dg">
        <i class="glyphicon glyphicon-calendar"></i>
        <span class="section-label">Date</span>
        <b><span>11<br>August</span></b>    
      </div>

      <div class="dg">
        <i class="  glyphicon glyphicon-map-marker"></i>
        <span class="section-label">Venue</span>
        <b><span>Punnamada<br>Lake</span></b>  
      </div>
    </div>
    <hr/>
    <div class="row"> 
      
    </div>
    
   
  </main>
    
</div>
      </div>

    
    </div>

  



    


</div> -->

<div class="scrollicon">
      <div class="container12">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
      </div>
</div>
</div>
