.container{
  height: 100vh;
  width: 100vw;
}
.leftcontainer{
  text-align: center;
  margin-bottom: 25px;

}
.livecontainer{
  height: 500px;;
  background-image: -owg-linear-gradient(#16cbf5, #1c83cc);
  background-image: -webkit-linear-gradient(#16cbf5, #1c83cc);
  background-image: -moz-linear-gradient(#16cbf5, #1c83cc);
  background-image: -o-linear-gradient(#16cbf5, #1c83cc);
  background-image: linear-gradient(#16cbf5, #1c83cc);
}

.leftcontainer p{
  font-family: 'Jura';
}

.rightcontainer{
  content: "";
  height: 500px;
  margin-bottom: 25px;
}
.rightincontainer{
  content: "";
  height: 100%;
  width: 100%;
  /* background-image: -owg-linear-gradient(#16cbf5, #1c83cc);
  background-image: -webkit-linear-gradient(#16cbf5, #1c83cc);
  background-image: -moz-linear-gradient(#16cbf5, #1c83cc);
  background-image: -o-linear-gradient(#16cbf5, #1c83cc);
  background-image: linear-gradient(#16cbf5, #1c83cc); */
}
.newsfeedscontainer{
  padding: 0 0 5px;
  height: 60%;
 }
.newsfeeds{
 height: 100%;
}
.newsfeeds h3{
  margin-top:0px;
  font-family: Raleway;
  font-weight: 800;
  border-bottom:1px solid #d4d4d4;
  display: inline-block;
}
.feeds{
  border-left: 5px solid #1c83cc;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.gallerycontainer{
  padding: 0px 40px;
  height: 40%;
  overflow: hidden;
  position: relative;
}
.gallerybutton{
  height: 100%;
  width: 100%;
  background-image: url("assets/liveimgs/BOAT_RACE_NTBR.jpg");
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

.gallerycontainer:hover .gallerybutton,
.gallerycontainer:focus .gallerybutton {
  transform: scale(1.2);
}
.gallerybutton span {
	font-size: 35px;
    color: #ffffff !important;
    font-family: 'Raleway';
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    font-weight: 800;
    text-decoration: none;
}
.gallerycontainer:hover span,
.gallerycontainer:focus span {
  display: block;
}
