@media only screen and (min-width: 768px) {
.container{
  width: 100vw;
  margin:0px;
  padding: 0px;
  background:#fff;

}
.row-live{
  height: 100%;
  display: inline;

}
/* @media screen and (max-width:768px){
  .col-sm-6 .live-container-left {
    height: 30vh;
  }
} */

.live-container-left{
  text-align: center;
  margin: 20px 0px;
}
.live-box{
  height:200px;
  width: 100%;
  background: #f0f0fd;
  position: relative;
  margin: auto;
}
.countdown{
  display: inline;
}
.live-container-right{
  height: 100%;
  padding:0 15px 0 20px;
  height: 100vh;
}
.newsfeedscontainer{
  height: 50%;
  margin-bottom: 50px;
}
.newsfeeds{
  margin:0px;
  padding:0px;
  height: 80%;
  overflow-y:scroll;
  background-color:#f4f4f5;
 }
.feeds{
  width:100%;
  font-family: Raleway;
  border-bottom: 1px solid #dbdbdb;
  padding:10px 15px;
  margin:0px;
  transition: .1s linear 0s;
/*  border-radius: 3px;*/
}
.feeds p{
  font-family:Raleway;
  margin:5px;
  padding:0px;
  font-size:.9em;
  font-weight: lighter;
}
h5{
  margin:0px;
}
.feeds:hover{
  border-bottom: 2px solid rgb(40, 43, 245);
  background-color: #fdfdfd;
}
.nf{
  margin:0px;
  padding:10px;
  color:white;
  border-bottom: 3px solid rgb(40, 43, 245);
  text-align:center;
  background-color: #15151e;
}
.rmln{
  width:100%;
  padding:15px;
  font-size: 16px;
  font-family: roboto;
  text-align:center;
  background-color: #222234;
  margin:0px;
  color:#636378;

  border-bottom: 3px solid #403f72;
  }
.rmln:hover{
  background-color:#15151e;
  color:rgba(7,197,245,1);
  border-bottom: 3px solid #ef4959;
  border-bottom-right-radius:80%;
}
.gallery-box{
  width: 100%;
  height: 40%;
  overflow: hidden;
}
.gallery{
  text-align: center;
  height: 100%;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url('assets/Nehru-Trophy-Boat-Race.jpg');
}
.gallery:hover{
  transform: scale(1.1);
}
.gallery h3{
  display: inline;
}
}