<div class="container">


      <div class="leftcontainer col-lg-9 col-sm-9">
          <img class="introimg" alt="introimg" src="assets/oldpic.png">
          <p>The Nehru Trophy Boat Race named after <b>Pandit Jawaharlal Nehru</b> is conducted on the <b>Punnamda Lake</b>, near Alappuzha, on the second Saturday of August every year. On the day of this fiercely fought boat race, the tranquil lake front is transformed into a sea of humanity with an estimated two lakh people, including tourists from abroad for watching it. For the people of each village in Kuttanad, a victory at this race for their village boat is something to be celebrated for months to come.</p>
          <span class="readmore"><a >Read More</a></span>
        </div>
     
      <div class="rightcontainer col-lg-3">
        <div class="newsfeedscontainer">
          <h4 class="nf">News Feed</h4>
          <div class="newsfeeds">
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
            <div class="feeds">
              <h5>Proposal Invited</h5>
              <p>Last Date : 30
                <sup>th</sup> march 2018</p>
            </div>
          </div>
        </div>
      </div>
  
 
         <div class="counterdiv col-lg-12"><h2>Watch Live</h2>
          <div class="countr">
            <div class="clock"></div>
          </div>
        
          <div class="scrollicon col-lg-12">
            <div class="container1">
                <div class="chevron"></div>
                <div class="chevron"></div>
               <div class="chevron"></div>
              
            </div>
          </div>
        </div>
         
         


     




</div>