<div class="page-accordion">
  <div class="textbox">
    <div class="header"><h2>KINGS OF LAKE <strong>PUNNAMADA</strong></h2></div>
    <div class="decription">The Nehru Trophy Boat Race named after Pandit Jawaharlal Nehru is conducted on the Punnamda Lake, near Alappuzha, on the second Saturday of August every year.</div>
  </div>
  <div class="accordion-container">
    <div class="accordion" id="accordion">
      <div class="tabs inactivetabs">
        <div class="year">2012</div>
        <div class="contents"></div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year">2013</div>
        <div class="contents"></div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year">2014</div>
        <div class="contents"></div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year">2015</div>
        <div class="contents"></div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year">2016</div>
        <div class="contents"></div>
      </div>
      <div class="tabs activetabs">
        <div class="year">2017</div>
        <div class="contents"></div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year">2018</div>
        <div class="contents"></div>
      </div>
    </div>
    <div class="see-more">
      <span><a> See More</a></span>
    </div>
  </div>
</div>