<div class="container">
  <div class="row">
    <h1>KINGS OF LAKE PUNNAMADA</h1>
    <p>The Nehru Trophy Boat Race name after Pandit Jawaharlal Nehru is conducted on the Punnamada lake, near Alappuzha, on the  second Saturday of every month.</p>
    <div class="col-lg-12 col-md-12 col-sm-12 accordion" id="accordion">
      <div class="col-lg-1 col-md-1 col-sm-12 tabs">
        <h4 class="year">2011</h4>
        <h3 class="activeappear center">2011</h3>
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>

              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div>
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-12 tabs">
        <h4 class="year">2012</h4>
        <h3 class="activeappear center">2012</h3>
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>
              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div>
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>

      </div>

      <div class="col-lg-1 col-md-1 col-sm-12 tabs">
       <h4 class="year">2013</h4>
       <h3 class="activeappear center">2013</h3>
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>
              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div>
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-12 tabs">
        <h4 class="year">2014</h4>
        <h3 class="activeappear center">2014</h3>
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>
              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div>
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-12 tabs">
        <h4 class="year">2015</h4>
        <h3 class="activeappear center">2015</h3>
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>
              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div class="eachwinners">
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-12 tabs">
        <h4 class="year">2016</h4>
        <h3 class="activeappear center">2016</h3>
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>
              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div>
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>
      </div>

      <div class="active col-lg-5 col-md-5 col-sm-12 tabs">
        <h4 class="year">2017</h4>
        <h3 class="activeappear center">2017</h3>
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>
              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div>
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 col-sm-12 tabs year2018">
        <h4 class="year ">2018</h4>
        <h4 class=" fixtures">Fixtures</h4>
        <h3 class="activeappear center">2018</h3>
        
        <div class = " winnersbox activeappear ">
          <div class="center-text"><i class="fas fa-trophy"></i></div>
          <div>
              <p class="alignleft firstprize">1. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
          <img class="activeappear winnerimg center" src="assets/liveimgs/BOAT_RACE_NTBR.jpg" alt="">
          <div>
              <p class="alignleft">2. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
            <div>
              <p class="alignleft">3. Gabriel Chundan</p>
              <p class="alignright"><i class="glyphicon  glyphicon-time"></i> 4"17'42</p>
            </div>
        </div>
      <div>
        
      </div>
    </div>
      
  </div>
</div>
