.container{
  margin:0px;
  width:100vw;
  height:100vh;
  background-color: #15151e;
  padding: 70px 0 50px 0;;
}
h1{
  font-family: 'Raleway';
  font-weight: 900;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
p{
  margin: auto;
  max-width: 800px;
  font-family: 'Raleway';
  font-weight: 300;
  text-align: center;
  color: #fff;
}
#accordion{
  width: 100vw;
  height: 60vh;
  margin: 50px 0 0 0 ;
  padding: 0px;

}
@media screen and (max-width:768px){
  .col-sm-12 .tabs{
    width:100vw;
    display: none;
  }
  .col-sm-12 .active{
    display: block;
  } 
}

.tabs{
  margin: 0;
  padding: 0px;
  height: 100%;
  float: left;
  display: inline;
  border-right: 2px solid rgba(94, 91, 112, 0.2);
  background-color: #15151e;
  overflow: hidden;
  -webkit-transition: all 0.5s 0.2s;
  -webkit-transition-delay: ease-in-out;
  -moz-transition: all 0.5s 0.2s ease-in-out;
  -o-transition: all 0.5s 0.2s ease-in-out;
  transition: all 0.5s 0.2s ease-in-out;
}
.active{
  background-color: #13131b;
}
.tabs h3{
  display: block;
  color: #fff;
  width: 100%;
  text-align: center;
  }
.active h3{
  font-weight: 700;
  color: rgb(58, 190, 241);
}
.fixtures{
  position: absolute;
  top:50%;
  left:25px;
  display: inline;
  text-align: center ;
  clear: both;
  color: #fff;
  -webkit-transition: all 0.9s 0.2s;
  -webkit-transition-delay: ease-in-out;
  -moz-transition: all 0.9s 0.2s ease-in-out;
  -o-transition: all 0.9s 0.2s ease-in-out;
  transition: all 0.9s 0.2s ease-in-out;
}
.year{
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -10px;
  margin-left: -20px;
  display: inline;
  text-align: center ;
  clear: both;
  color: #fff;
  -webkit-transition: all 0.9s 0.2s;
  -webkit-transition-delay: ease-in-out;
  -moz-transition: all 0.9s 0.2s ease-in-out;
  -o-transition: all 0.9s 0.2s ease-in-out;
  transition: all 0.9s 0.2s ease-in-out;
}
.active .year{
  position: absolute;
  opacity: 0;
  left: 0;
  color: rgb(56, 90, 204);
}
.year2018{
    background: linear-gradient(to top right, #9959ad 0%, #ed424e 100%);
}
.tabs .winnersbox{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.winnersbox p{
  padding: 10px  0px 10px 0px;
  margin: 0px 10px 0px 10px; 
  font-family: 'Jura';
}
.tabs .winnersheader{
  display: block;
  opacity: 0;
  color: #fff;
  text-align: center;
}
.winnerimg{

  max-width: 300px;
  margin: auto;
}
.tabs .activeappear{
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.4s 0.3s;
  -webkit-transition-delay: ease-in-out;
  -moz-transition: all 0.4s 0.3s ease-in-out;
  -o-transition: all 0.4s 0.3s ease-in-out;
  transition: all 0.4s 0.3s ease-in-out;
}

 .active .activeappear{
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.6s 0.3s;
  -webkit-transition-delay: ease-in-out;
  -moz-transition: all 0.6s 0.3s ease-in-out;
  -o-transition: all 0.6s 0.3s ease-in-out;
  transition: all 0.6s 0.3s ease-in-out;
 }
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.eachwinners{
  display: block;
}
.alignleft{
  display: inline-block;
  width:55%;
}
.alignright{
  display: inline-block;
  width:30%;
}
.fa-trophy{
  font-size: 30px;
  color: white;
}
.center-text{
  text-align: center;
}
.firstprize{
  font-size: 1.5em;
}
/* .alignleft {

  float: left;
  vertical-align: middle;
}
.alignright {
  float: right;
  vertical-align: middle;
} */

/* .year::before{
  content: "2000";
  width: 100%;
  height: 30px;
  vertical-align: middle;
  
} */