<div class="page-accordion">
  <div class="textbox">
    <div class="header"><h2>KINGS OF LAKE <strong>PUNNAMADA</strong></h2></div>
    <div class="decription">Let the explosive rythm of 111 oars hitting water in unison and the speed take over your senses.
      These are the Champions of the Last lustrum.
    </div>
  </div>
  <div class="accordion-container">
    <div class="accordion" id="accordion">
      <div class="tabs inactivetabs">
        <div class="year ">2012</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"> </span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">

          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2013</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2014</div>
        <div class="contents fade-in">
            <div class="winners fade-in">
              <div class="name first">1.Gabriel Chundan</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
              </div>
            </div>
            <div class="winnerimg">
              
            </div>
            <div class="winners fade-in">
                <div class="name">2.Mahadevikad Kattil Thekkethu</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
                </div>
              </div>
              <div class="winners fade-in">
                  <div class="name">3.Payippadan</div>
                  <div class="time">
                    <div class="timestamp"></div>
                    <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                  </div>
                </div>
          </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2015</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs">
        <div class="year ">2016</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs activetabs">
        <div class="year ">2017</div>
        <div class="contents fade-in">
          <div class="winners fade-in">
            <div class="name first">1.Gabriel Chundan</div>
            <div class="time">
              <div class="timestamp"></div>
              <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.42</div>
            </div>
          </div>
          <div class="winnerimg">
            
          </div>
          <div class="winners fade-in">
              <div class="name">2.Mahadevikad Kattil Thekkethu</div>
              <div class="time">
                <div class="timestamp"></div>
                <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.72</div>
              </div>
            </div>
            <div class="winners fade-in">
                <div class="name">3.Payippadan</div>
                <div class="time">
                  <div class="timestamp"></div>
                  <div class="winnertime"><span class="glyphicon glyphicon-time"></span> 4.17.99</div>
                </div>
              </div>
        </div>
      </div>
      <div class="tabs inactivetabs " id="grad">
        <div class="year">2018  <div class="">Fixtures</div></div>

        <div class="contents fade-in">
          <div class="Coming_Soon">Coming Soon</div>
        </div>
      </div>
    </div>
  </div>
  <div class="see-more">
      <span id="myBtn"><a> See More</a></span>
    </div>
  <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        
        <div class="modal-header">
            
            <h2>KINGS OF LAKE PUNNAMADA</h2>
          </div>
          <div class="modal-body">
              <table class=" table table-hover">
                  <tr>
                    <th class="tg-us36">Sl. No.</th>
                    <th class="tg-yw4l">Year</th>
                    <th class="tg-yw4l">Name of Boat</th>
                    <th class="tg-yw4l">Captian</th>
                    <th class="tg-yw4l">Boat club</th>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">65</td>
                    <td class="tg-6k2t">2017</td>
                    <td class="tg-6k2t">Gabriel</td>
                    <td class="tg-6k2t">Ummen Jacob</td>
                    <td class="tg-6k2t">Thuruthipuram Boat Club,Ernakulam</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">64</td>
                    <td class="tg-yw4l">2016</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">Jameskutty Jacob</td>
                    <td class="tg-yw4l">Vembanadu Boat Club, Kumarakom P.O, Kottayam</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">63</td>
                    <td class="tg-6k2t">2015</td>
                    <td class="tg-6k2t">Jawahar Thayamkary</td>
                    <td class="tg-6k2t">Jameskutty Jacob</td>
                    <td class="tg-6k2t">Vembanadu Boat Club, Kumarakom</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">62</td>
                    <td class="tg-yw4l">2014</td>
                    <td class="tg-yw4l">Champakkulam</td>
                    <td class="tg-yw4l">George Thomas</td>
                    <td class="tg-yw4l">Unite Boat Club, Kainakary</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">61</td>
                    <td class="tg-6k2t">2013</td>
                    <td class="tg-6k2t">Sri Ganeshan</td>
                    <td class="tg-6k2t">Arun Kumar</td>
                    <td class="tg-6k2t">St.Francis Boat Club,Harippad</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">60</td>
                    <td class="tg-yw4l">2012</td>
                    <td class="tg-yw4l">Sri Ganeshan</td>
                    <td class="tg-yw4l">JiJi Jacob Pollayil</td>
                    <td class="tg-yw4l">Freedom Boat Club, Kainakary</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">59</td>
                    <td class="tg-6k2t">2011</td>
                    <td class="tg-6k2t">------------------</td>
                    <td class="tg-6k2t">------------------</td>
                    <td class="tg-6k2t">------------------</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">58</td>
                    <td class="tg-yw4l">2010</td>
                    <td class="tg-yw4l">Jawahar Thayankari</td>
                    <td class="tg-yw4l">Joseph philip</td>
                    <td class="tg-yw4l">Kumarakam Town Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">57</td>
                    <td class="tg-6k2t">2009</td>
                    <td class="tg-6k2t">Champakkulam</td>
                    <td class="tg-6k2t">JiJi Jacob Pollayil</td>
                    <td class="tg-6k2t">Jesus Boat Club, Kollam</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">56</td>
                    <td class="tg-yw4l">2008</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">JiJi Jacob Pollayil</td>
                    <td class="tg-yw4l">Jesus Boat Club, Kollam</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">55</td>
                    <td class="tg-6k2t">2007</td>
                    <td class="tg-6k2t">Payippad</td>
                    <td class="tg-6k2t">Kunjumon Meluvallil</td>
                    <td class="tg-6k2t">Kumarakam Town Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">54</td>
                    <td class="tg-yw4l">2006</td>
                    <td class="tg-yw4l">Payippad</td>
                    <td class="tg-yw4l">Raju Vadakkath</td>
                    <td class="tg-yw4l">Kumarakam Town Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">53</td>
                    <td class="tg-6k2t">2005</td>
                    <td class="tg-6k2t">Payippad</td>
                    <td class="tg-6k2t">Raju Vadakkath</td>
                    <td class="tg-6k2t">Kumarakam Town Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">52</td>
                    <td class="tg-yw4l">2004</td>
                    <td class="tg-yw4l">Cheruthana</td>
                    <td class="tg-yw4l">Raju Vadakkathu, Kumarakam P.O.</td>
                    <td class="tg-yw4l">Kumarakam Town Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">51</td>
                    <td class="tg-6k2t">2003</td>
                    <td class="tg-6k2t">Karichal</td>
                    <td class="tg-6k2t">Thampi Podippara</td>
                    <td class="tg-6k2t">Navajeevan Boat Club, Maniyaparampu</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">50</td>
                    <td class="tg-yw4l">2002</td>
                    <td class="tg-yw4l">Vellamkulangara</td>
                    <td class="tg-yw4l">Sanny Jakob</td>
                    <td class="tg-yw4l">Kumarakom Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">49</td>
                    <td class="tg-6k2t">2001</td>
                    <td class="tg-6k2t">Karichal</td>
                    <td class="tg-6k2t">Tobin Chandy</td>
                    <td class="tg-6k2t">Friends Boat Club Chennamkary &amp; Venattukad</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">48</td>
                    <td class="tg-yw4l">2000</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">Bency Randuthikkal</td>
                    <td class="tg-yw4l">Alappuzha Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">47</td>
                    <td class="tg-6k2t">1999</td>
                    <td class="tg-6k2t">Alappadan</td>
                    <td class="tg-6k2t">Sampath Kaniyamparampil</td>
                    <td class="tg-6k2t">Kumarakom Town Boat Club Kumarakom</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">46</td>
                    <td class="tg-yw4l">1998</td>
                    <td class="tg-yw4l">Champakkulam</td>
                    <td class="tg-yw4l">Domanic Kuzhimattom</td>
                    <td class="tg-yw4l">Pallatturuthi Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">45</td>
                    <td class="tg-6k2t">1997</td>
                    <td class="tg-6k2t">Alappadan</td>
                    <td class="tg-6k2t">K P Poul</td>
                    <td class="tg-6k2t">Navajeevan Boat Club, Arppukkara</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">44</td>
                    <td class="tg-yw4l">1996</td>
                    <td class="tg-yw4l">Champakkulam</td>
                    <td class="tg-yw4l">Anil Madhavan</td>
                    <td class="tg-yw4l">Alappuzha Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">43</td>
                    <td class="tg-6k2t">1995</td>
                    <td class="tg-6k2t">Champakkulam</td>
                    <td class="tg-6k2t">Jos Jhon</td>
                    <td class="tg-6k2t">Alappuzha Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">42</td>
                    <td class="tg-yw4l">1994</td>
                    <td class="tg-yw4l">Champakkulam</td>
                    <td class="tg-yw4l">Antony Akkarakkalam</td>
                    <td class="tg-yw4l">Jet Airways Boat Club, Cochin</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">41</td>
                    <td class="tg-6k2t">1993</td>
                    <td class="tg-6k2t">Kallooparamban</td>
                    <td class="tg-6k2t">C V Vijayan</td>
                    <td class="tg-6k2t">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">40</td>
                    <td class="tg-yw4l">1992</td>
                    <td class="tg-yw4l">Kallooparamban</td>
                    <td class="tg-yw4l">V N Velayudhan</td>
                    <td class="tg-yw4l">Sree Lakshmana Boat Club Mulakkulam</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">39</td>
                    <td class="tg-6k2t">1991</td>
                    <td class="tg-6k2t">Champakkulam</td>
                    <td class="tg-6k2t">A K Lalasan</td>
                    <td class="tg-6k2t">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">38</td>
                    <td class="tg-yw4l">1990</td>
                    <td class="tg-yw4l">Champakkulam</td>
                    <td class="tg-yw4l">A K Lalasan</td>
                    <td class="tg-yw4l">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">37</td>
                    <td class="tg-6k2t">1989</td>
                    <td class="tg-6k2t">Champakkulam</td>
                    <td class="tg-6k2t">A K Lalasan</td>
                    <td class="tg-6k2t">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">36</td>
                    <td class="tg-yw4l">1988</td>
                    <td class="tg-yw4l">Vellamkulangara</td>
                    <td class="tg-yw4l">T P Rajbhavan</td>
                    <td class="tg-yw4l">Pallatturuthi Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">35</td>
                    <td class="tg-6k2t">1987</td>
                    <td class="tg-6k2t">Karichal</td>
                    <td class="tg-6k2t">Sanni Akkarakkalam</td>
                    <td class="tg-6k2t">Village Boat Club, Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">34</td>
                    <td class="tg-yw4l">1986</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">Sanni Akkarakkalam</td>
                    <td class="tg-yw4l">Village Boat Club, Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">33</td>
                    <td class="tg-6k2t">1985</td>
                    <td class="tg-6k2t">Jawahar Thayamkari</td>
                    <td class="tg-6k2t">P C Joseph</td>
                    <td class="tg-6k2t">Friends Boat Club Chennamkary &amp; Venattukad</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">32</td>
                    <td class="tg-yw4l">1984</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">Nellanikkal Pappachan</td>
                    <td class="tg-yw4l">Kumarakom Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">31</td>
                    <td class="tg-6k2t">1983</td>
                    <td class="tg-6k2t">Karichal</td>
                    <td class="tg-6k2t">Nellanikkal Pappachan</td>
                    <td class="tg-6k2t">Kumarakom Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">30</td>
                    <td class="tg-yw4l">1982</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">Nellanikkal Pappachan</td>
                    <td class="tg-yw4l">Kumarakom Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">29</td>
                    <td class="tg-6k2t">1981</td>
                    <td class="tg-6k2t">-------------------</td>
                    <td class="tg-6k2t">-------------------</td>
                    <td class="tg-6k2t">-------------------</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">28</td>
                    <td class="tg-yw4l">1980</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">Ramachandran</td>
                    <td class="tg-yw4l">Pullangadi Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">27</td>
                    <td class="tg-6k2t">1979</td>
                    <td class="tg-6k2t">Ayaparambu Valya Divanji</td>
                    <td class="tg-6k2t">Ravi Prakash</td>
                    <td class="tg-6k2t">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">26</td>
                    <td class="tg-yw4l">1978</td>
                    <td class="tg-yw4l">Jawahar Thayamkari</td>
                    <td class="tg-yw4l">K S Vargees</td>
                    <td class="tg-yw4l">Thayamkari Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">25</td>
                    <td class="tg-6k2t">1977</td>
                    <td class="tg-6k2t">Jawahar Thayamkari</td>
                    <td class="tg-6k2t">K S Vargees</td>
                    <td class="tg-6k2t">Thayamkari Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">24</td>
                    <td class="tg-yw4l">1976</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">P K Thankachan</td>
                    <td class="tg-yw4l">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">23</td>
                    <td class="tg-6k2t">1975</td>
                    <td class="tg-6k2t">Karichal</td>
                    <td class="tg-6k2t">P C Joseph</td>
                    <td class="tg-6k2t">Friends Boat Club Chennamkary &amp; Venattukad</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">22</td>
                    <td class="tg-yw4l">1974</td>
                    <td class="tg-yw4l">Karichal</td>
                    <td class="tg-yw4l">P C Joseph</td>
                    <td class="tg-yw4l">Friends Boat Club Chennamkary &amp; Venattukad</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">21</td>
                    <td class="tg-6k2t">1973</td>
                    <td class="tg-6k2t">Kallooparamban</td>
                    <td class="tg-6k2t">Nellanikkal Pappachan</td>
                    <td class="tg-6k2t">Kumarakom Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">20</td>
                    <td class="tg-yw4l"></td>
                    <td class="tg-yw4l">Kallooparamban</td>
                    <td class="tg-yw4l">Nellanikkal Pappachan</td>
                    <td class="tg-yw4l">Kumarakom Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">19</td>
                    <td class="tg-6k2t">1971</td>
                    <td class="tg-6k2t">Kallooparamban &amp; Pulinkunnu</td>
                    <td class="tg-6k2t">Nellanikkal Pappachan &amp; Chakkamma Kannotuthara</td>
                    <td class="tg-6k2t">Kumarakom Boat Club &amp; Pulinkunnu Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">18</td>
                    <td class="tg-yw4l">1970</td>
                    <td class="tg-yw4l">Kallooparamban</td>
                    <td class="tg-yw4l">Vargees Antony</td>
                    <td class="tg-yw4l">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">17</td>
                    <td class="tg-6k2t">1969</td>
                    <td class="tg-6k2t">Pulinkunnu</td>
                    <td class="tg-6k2t">C C Chakko</td>
                    <td class="tg-6k2t">Pulinkunnu Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">16</td>
                    <td class="tg-yw4l">1968</td>
                    <td class="tg-yw4l">Parthasarathy</td>
                    <td class="tg-yw4l">P K Thankachan</td>
                    <td class="tg-yw4l">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">15</td>
                    <td class="tg-6k2t">1967</td>
                    <td class="tg-6k2t">Pulinkunnu</td>
                    <td class="tg-6k2t">Thommichan</td>
                    <td class="tg-6k2t">Pulinkunnu Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">14</td>
                    <td class="tg-yw4l">1966</td>
                    <td class="tg-yw4l">Pulinkunnu</td>
                    <td class="tg-yw4l">Thommichan</td>
                    <td class="tg-yw4l">Pulinkunnu Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">13</td>
                    <td class="tg-6k2t">1965</td>
                    <td class="tg-6k2t">Parthasarathy</td>
                    <td class="tg-6k2t">P K Thankachan</td>
                    <td class="tg-6k2t">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">12</td>
                    <td class="tg-yw4l">1964</td>
                    <td class="tg-yw4l">St. George</td>
                    <td class="tg-yw4l">P K Thankachan</td>
                    <td class="tg-yw4l">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">11</td>
                    <td class="tg-6k2t">1963</td>
                    <td class="tg-6k2t">Geargoss</td>
                    <td class="tg-6k2t">P K Thankachan</td>
                    <td class="tg-6k2t">United Boat Club (U.B.C.) Kainakari</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">10</td>
                    <td class="tg-yw4l">1962</td>
                    <td class="tg-yw4l">Kavalam</td>
                    <td class="tg-yw4l">T J Job</td>
                    <td class="tg-yw4l">Kavalam Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">9</td>
                    <td class="tg-6k2t">1961</td>
                    <td class="tg-6k2t">Neppolian</td>
                    <td class="tg-6k2t">Cheriyan Vargees</td>
                    <td class="tg-6k2t">Pongga Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">8</td>
                    <td class="tg-yw4l">1960</td>
                    <td class="tg-yw4l">Kavalam</td>
                    <td class="tg-yw4l">Matthachan</td>
                    <td class="tg-yw4l">Kavalam Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">7</td>
                    <td class="tg-6k2t">1959</td>
                    <td class="tg-6k2t">Neppolian</td>
                    <td class="tg-6k2t">Cheriyan Vargees</td>
                    <td class="tg-6k2t">Pongga Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">6</td>
                    <td class="tg-yw4l">1958</td>
                    <td class="tg-yw4l">Neppolian &amp; Kavalam</td>
                    <td class="tg-yw4l">Cheriyan Joseph &amp; T J Job</td>
                    <td class="tg-yw4l">Pongga Boat Club &amp; Kavalam Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">5</td>
                    <td class="tg-6k2t">1957</td>
                    <td class="tg-6k2t">Neppolian</td>
                    <td class="tg-6k2t">Joseph Cheriyan</td>
                    <td class="tg-6k2t">Pongga Boat Club</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">4</td>
                    <td class="tg-yw4l">1956</td>
                    <td class="tg-yw4l">Kavalam</td>
                    <td class="tg-yw4l">Thomman Joseph</td>
                    <td class="tg-yw4l">Kavalam Team</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">3</td>
                    <td class="tg-6k2t">1955</td>
                    <td class="tg-6k2t">Parthasarathy</td>
                    <td class="tg-6k2t">K G Raghavan Nair</td>
                    <td class="tg-6k2t">N S S Karayogam, Nedumudy</td>
                  </tr>
                  <tr>
                    <td class="tg-yw4l">2</td>
                    <td class="tg-yw4l">1954</td>
                    <td class="tg-yw4l">Kavalam</td>
                    <td class="tg-yw4l">Thomman Joseph</td>
                    <td class="tg-yw4l">Kavalam Team</td>
                  </tr>
                  <tr>
                    <td class="tg-6k2t">1</td>
                    <td class="tg-6k2t">1952</td>
                    <td class="tg-6k2t">Nadubhagam</td>
                    <td class="tg-6k2t">Chakko Mappila Mattu Mappila</td>
                    <td class="tg-6k2t">Nadubhagam Boat Club</td>
                  </tr>
                </table>
          </div>
          <div class="modal-footer">
              <button class="close">close</button>
          </div>
      </div>
    
    </div>
</div>