@media screen and (max-width:768px){
.page-accordion{
  background-color: #15151e;
  padding-top:50px;
  height: 100vh;
  color: #FFF;

}
.textbox{
  height: 30%;
  padding: 0 20px;
  text-align: center;
}

.accordion-container{
  width: 100vw;
  height: 70%;;
  overflow: auto;

}
.accordion{
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  overflow-y: scroll;
}
.tabs{
  min-width: 100px;
  background-color: #15151e;
  min-height: 350px;
  border-right: 1px solid #FFF;
  display: flex;
  flex-direction: row;
}
.activetabs .content{
  padding: 20px;
  min-width: 400px;
  background-color: #23232c;
}
.year{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.see-more{
  text-align: center;
  width: 100vw;
}

}